/*.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.nav-links a {
  position: relative;
  color: white;
  font-weight: 600;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: #38bdf8;
  transition: .3s;
}

.nav-links a:hover::after {
  width: 100%;
}
  */
  